@tailwind base;
@tailwind components;
@import './typography.css';
@tailwind utilities;

:root {
  --background-color: #e2e2e2;
  --text-color: #134472;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #adc8f0;
    --text-color: #0f395f;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
